* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/a9dbc64558e7ae8e59214c2c00fd0306.gif);
  background-size: cover;
  background-position: center;
}

.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #fff;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.container h1 {
  font-size: 36px;
  align-items: center;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  transition: 0.3s;
}

.input-box input:hover {
  border: 2px solid rgba(255, 255, 255, 0.733);
}

.input-box input::placeholder {
  color: #ffffff91;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -1rem 0 1.5rem;
  font-size: 0.9rem;
}

.remember-forgot label {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.remember-forgot label input[type='checkbox'] {
  accent-color: #fff;
  margin-right: 5px;
  position: relative;
  width: 30px;
  height: 15px;
  appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.remember-forgot label input:checked[type='checkbox'] {
  background: #9e3d79;
}

.remember-forgot label input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.remember-forgot label input:checked[type='checkbox']:before {
  left: 15px;
}

.remember-forgot a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #ffffff91;
}

.login {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  color: #000000c2;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 0.4rem;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.267);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.register-link {
  text-align: center;
  font-size: 0.9rem;
  margin: 2rem 0 0.9rem;
}

.register-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.register-link a:hover {
  text-decoration: underline;
  color: #ffffff91;
}

.forgot-mobile a {
  display: none;
}

.forgot-mobile a:hover {
  text-decoration: underline;
  color: #ffffff91;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    background-color: #ffffff1e;
    padding: 30px 30px;
    backdrop-filter: none;
  }

  .remember-forgot {
    font-size: 0.9rem;
  }

  .remember-forgot a {
    display: none;
  }

  .forgot-mobile a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin: 2rem 0;
  }
}
